body {
background-color: rgb(219, 173, 230);
font-family: 'Times New Roman', Times, serif;
}
h1 {
color: rgb(211, 9, 167);
font-size: 40px;
text-align: center;
}
header {
background-color: black;
color: white;
text-align: center;
padding: 30px;
}
h1 {
color: rgb(43, 0, 25);
font-size: 40px;
text-align: center;
}
header {
background-color: black;
color: white;
text-align: center;
padding: 30px;
}
section {
background-color: rgb(180, 23, 115);
margin: 20px;
padding: 20px;
border: 2px solid black;
}
section {
background-color: rgb(97, 70, 87);
margin: 20px;
padding: 20px;
border: 2px solid black;
border-radius: 15px;
}
h2 {
color: rgb(104, 4, 51);
font-size: 28px;
}
footer {
background-color: rgb(87, 11, 55);
color: white;
text-align: center;
padding: 20px;
}